# Node modules
node_modules/

# Build output
build/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
