/* Import the Toroka font */
@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    font-family: 'B612', Arial, sans-serif; /* Apply B612 font */
    background: url('../../public/images/background.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    color: white;
    padding: 10px 20px;
}

.header-left {
    font-size: 1.5em;
    font-weight: bold;
}

.header-right img.linkedin-logo {
    width: 30px;
    height: 30px;
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.App-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    transition: all 0.3s ease-in-out; /* Added transition for smooth resizing */
}

.App-header {
    background-color: #004080;
    color: white;
    padding: 20px;
}

select {
    font-size: 1.2em; /* Increased font size */
    padding: 10px; /* Added padding for better usability */
    margin: 10px; /* Added margin for spacing */
}

.FlightSearch-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.FlightSearch-input {
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.FlightSearch-button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
}

.FlightSearch-button:hover {
    background-color: #003366;
}

.FlightSearch-output {
    font-size: 1.2em;
    margin-top: 20px;
}

.FlightSearch-output button {
    background-color: #004080; /* Same as the search button */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.FlightSearch-output button:hover {
    background-color: #003366; /* Same hover effect as the search button */
}

.FlightSearch-error {
    color: red;
    margin-top: 10px;
}

.FlightSearch-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.FlightSearch-option {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    text-align: center;
    transition: background-color 0.3s;
}

.FlightSearch-option:hover {
    background-color: #d0d0d0;
}

.FlightSearch-timezone {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

footer {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    text-align: center;
}